* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-principal: #414b55;
    --bg-secundario: #fffdd0;
    --bg-destaque: #414b51;
    --message-color: #8b0000

}

/* CSS MAIN */
body {
    background: var(--bg-principal);
    font-family: 'Quicksand', sans-serif;
}

.text {
    color: var(--bg-secundario);
    text-align: center;
    margin: 20px
}

.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 95%;
    max-width: 800px;
    margin: 200px auto 0;
    padding: 20px;

    background-color: var(--bg-destaque); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

form {
    color: var(--bg-secundario);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

form #base {
    text-transform: uppercase;
}

form tr td{
    padding: 5px;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

input {
    width: 100px;
    text-align: center;
    margin: 0 0 0 2px;

    color: var(--bg-secundario);
    background-color: var(--bg-principal);
    border: 0.5px solid;
    border-color: var(--bg-secundario);

    font-weight: bold;
    text-transform: uppercase;
}

.buttonMedia {
    text-align: center;
    margin: 1.2vh;
}

.buttonMedia #calcPrincipal {
    color: var(--bg-secundario);
    background-color: var(--bg-principal);
    padding: 8px;
    margin: 7px;
    border: 0.5px solid;
    border-color: var(--bg-secundario);
    border-radius: 10px;

    font-weight: bold;
    text-transform: uppercase;

    transition: 0.2s all
}

#calcPrincipal:active {
    opacity: 0.2;
}

.buttonMedia #resultMessage {
    color: var(--bg-secundario);
    margin: 20px 0px 20px 0px;
    font-size: 15;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.2s;
}

footer a:hover {
    font-size: 14.5px;
    color: var(--bg-secundario); 
}

@media (min-width: 480px) and (max-width: 768px) {
    .container-principal {
        margin: 100px auto 0;
    }

    form {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .container-principal {
        margin: 60px auto 0;
    }
}