* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-principal: #414b53;
    --bg-secundario: #fffdd0;
}

/* CSS MAIN */

body {
    background: var(--bg-principal);
}

.text {
    color: var(--bg-secundario);
    text-align: center;
    margin: 10px;
}

form {
    color: var(--bg-secundario);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 100px;
    text-align: center;
}

.buttonMedia {
    text-align: center;
    margin: 1.2vh;
}